:root {
  --primary-color: #212121;
  --primary-light: #484848 ;
  --secondary-color: #ffeb3b;
  --secondary-light: #ffff72;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  /* background: var(--primary-light); */
}

body, h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
	text-decoration: none;
}

/* utility */
.center {
  text-align: center;
}

.title {
  color: var(--secondary-color);
}

/* ---------- */

.container {
  background: var(--primary-light);
  /* max-width: 968px; */
  margin: auto;
  min-height: calc(100vh - 60px);
}

.header {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding-bottom: 0;
  display: flex;
	padding-top: .5em;
  padding-bottom: .5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

.header-title {
  margin: 0;
  padding-left: 1rem;
}

.header-nav {
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
}

.header-nav a {
  color: var(--secondary-color);
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.header-nav a:hover {
  color: var(--secondary-light);
}

.navbar-toggle {
  display: none;
}


.about-container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'aboutimage desc desc'
  'work education hobbies';
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
  padding: 6rem 1rem 1rem 1rem;
}

.about-foto {
  grid-area: aboutimage;
  margin: auto;
  border-radius: 50%;
  max-width: 180px;
  max-height: 180px;
  border: 2px solid var(--secondary-light);
}

.about-description {
  box-sizing: border-box;
  grid-area: desc;
  line-height: 1.7;
  text-align: left;
  padding: 50px;
}

.about-description p {
  color: #fff;
}

.about-item {
  background: var(--primary-color);
  padding: 0.5rem;
  border-bottom: var(--secondary-light) 4px solid;
  color: #fff;
  border-radius: 10px;
  line-height: 1.7;
  font-size: 1rem;
}

.about-title {
  color: var(--secondary-color);
} 

#work {
  grid-area: work;
}

#education {
  grid-area: education;
}

#hobbies {
  grid-area: hobbies;
}


/* Portfolio */

#portfolio {
  background: var(--primary-color);

}

#portfolio h1 {
  padding: 2rem;
  margin: 0;
}

.projects-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 50px;
}

.project-item {
  transition: all .5s ease-in-out;
}

.project-item:hover {
  transform: scale(1.2);
}

.project-item img {
  width: 100%;
}

.project-item a {
  text-decoration: none;
}


/* Contact */

.contact-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
  line-height: 1.7;
  padding: 50px;
}

#contact h1 {
  padding: 2rem;
  margin: 0;
}

.contact-item {
  color: #fff;   
  font-size: 1rem;
  width: 70%;
  margin: 0 auto;
}

.contact-container h4, p {
  margin: 0;
}


.contact-info {
  font-size: 1rem;
  text-align: center;
}

.contact-item input, textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid lightgray;
} 

.contact-item input[type="submit"] {
  text-align: center;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: .5rem;
}

.contact-item input[type="submit"]:hover {
  /* background:  */
}


footer {
  box-sizing: border-box;
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-light);
  height: 60px;
  /* max-width: 968px; */
  margin: auto;
  font-size: 1.2rem;
  padding: 1rem;
}


/* @media (max-width: 800px) {
  #mapDiv {
    display: none;
  }
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
} */

@media (max-width: 600px) {
  .header {
    display: block;
  }

  .header-nav {
    display: none;
    margin: 0;
  }

  .header-nav li {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }

  .active {
    display: block;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: var(--secondary-light);
    font-size: 24px;
  }

  
  .about-container {
    grid-template-areas: 
    'aboutimage'
    'desc'
    'work'
    'education' 
    'hobbies';
    grid-template-columns: 1fr;
    /* padding: 6rem 1rem 1rem 1rem; */

  }

  .about-description {
    padding: 20px;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-item {
    width: 100%;
  }

}

@media (max-width: 480px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}



